# Carpeta de dependencias y archivos generados
node_modules/
build/
public/build/

# Archivo de entorno local (si se utiliza)
.env.local

# Archivos de respaldo o temporales
*.bak
*.swp
*~

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

.DS_Store
node_modules
dist
test-results/
package-lock.json
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js
.env
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify
.turbo
.vercel
.test-tmp
symlink-from
.idea/
.vscode/
